Teste_refatorado.json
{
  "name": "Teste_refatorado_pre_vendas_whatsapp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5ca49874-447c-46fc-9e4a-3a2bc8f98afd",
        "options": {}
      },
      "id": "webhook-recebe",
      "name": "Recebe mensagem",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1800,
        260
      ],
      "webhookId": "5ca49874-447c-46fc-9e4a-3a2bc8f98afd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "name": "pushName",
              "value": "={{ $json.body.data.pushName || 'não informado' }}",
              "type": "string"
            },
            {
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "name": "messageText",
              "value": "={{ $json.body.data.message?.conversation || '' }}",
              "type": "string"
            },
            {
              "name": "messageId",
              "value": "={{ $json.body.data.key.id || $execution.id }}",
              "type": "string"
            },
            {
              "name": "conversation_id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "name": "owner_remote_jid",
              "value": "OWNER_REMOTE_JID",
              "type": "string"
            },
            {
              "name": "masked_phone",
              "value": "={{ (() => { const p = String($json.body.data.key.remoteJid || ''); return p.replace(/^(\\d{4})\\d+(\\@.*)$/,'$1****$2'); })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-normaliza",
      "name": "Normaliza entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1580,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "conversation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.remoteJid }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "leftValue": "={{ $json.messageText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-valida",
      "name": "Filtro WhatsApp válido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.inbound_messages (conversation_id, execution_id, message_id, message_text, push_name, remote_jid, created_at)\nVALUES ({{ $json.conversation_id }}, {{ $json.execution_id }}, {{ $json.messageId }}, {{ $json.messageText }}, {{ $json.pushName }}, {{ $json.remoteJid }}, NOW())\nON CONFLICT (conversation_id, message_id) DO NOTHING;\n\nINSERT INTO public.conversation_state (conversation_id, latest_execution_id, last_message_at, updated_at)\nVALUES ({{ $json.conversation_id }}, {{ $json.execution_id }}, NOW(), NOW())\nON CONFLICT (conversation_id)\nDO UPDATE SET latest_execution_id = EXCLUDED.latest_execution_id,\n              last_message_at = EXCLUDED.last_message_at,\n              updated_at = NOW();",
        "options": {}
      },
      "id": "pg-upsert-state",
      "name": "Upsert estado + persiste inbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1120,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "wr3KDJ4bIUyeHOOV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "wait-30s",
      "name": "Debounce 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -900,
        260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT latest_execution_id\nFROM public.conversation_state\nWHERE conversation_id = {{ $json.conversation_id }};",
        "options": {}
      },
      "id": "pg-check-latest",
      "name": "Confere execução mais recente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -680,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "wr3KDJ4bIUyeHOOV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.latest_execution_id }}",
              "rightValue": "={{ $('Normaliza entrada').item.json.execution_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-sou-ultima",
      "name": "Sou a última execução?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -460,
        260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT conversation_id, push_name, remote_jid, string_agg(message_text, E'\\n' ORDER BY created_at ASC) AS consolidated_text\nFROM public.inbound_messages\nWHERE conversation_id = {{ $('Normaliza entrada').item.json.conversation_id }}\nGROUP BY conversation_id, push_name, remote_jid;",
        "options": {}
      },
      "id": "pg-consolida",
      "name": "Consolida mensagens",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "wr3KDJ4bIUyeHOOV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst conversation_id = $json.conversation_id;\nconst consolidated_text = String($json.consolidated_text || '').trim();\nconst input_hash = crypto.createHash('sha256').update(`${conversation_id}::${consolidated_text}`).digest('hex');\nconst masked = String($json.remote_jid || '').replace(/^(\\d{4})\\d+(\\@.*)$/,'$1****$2');\nreturn [{ json: { ...$json, consolidated_text, input_hash, masked_phone: masked } }];"
      },
      "id": "code-hash",
      "name": "Hash input consolidado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.response_dedup (conversation_id, dedup_key, response_type, payload_preview, created_at)\nVALUES ({{ $json.conversation_id }}, {{ $json.input_hash }}, 'lead', LEFT({{ $json.consolidated_text }}, 200), NOW())\nON CONFLICT (conversation_id, dedup_key, response_type) DO NOTHING\nRETURNING id;",
        "options": {}
      },
      "id": "pg-dedup-lead-insert",
      "name": "Reserva dedup lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        200,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "wr3KDJ4bIUyeHOOV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ !!$json.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-nao-duplicado",
      "name": "Já respondido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        420,
        260
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Hash input consolidado').item.json.consolidated_text }}",
        "options": {
          "systemMessage": "Você é o WAVE, pré-vendas da WaveBRAinBot no WhatsApp. Responda primeiro a dúvida do usuário, depois no máximo 1 pergunta curta. Se intenção de compra/preço/reunião/humano, puxe para reunião com Brasileiro. Política de preço: 'planos a partir de R$ 799/mês, varia conforme o caso; o Brasileiro confirma tudo na reunião'.\nRetorne APENAS JSON válido (sem markdown) com o formato exato:\n{\n  \"lead_messages\": [\"mensagem 1\",\"mensagem 2 opcional\"],\n  \"notify_owner\": true,\n  \"owner_summary\": \"resumo curto\"\n}\nNunca inclua owner_summary em lead_messages."
        }
      },
      "id": "agent-json",
      "name": "AGENTE JSON ESTRITO",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        660,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output || $json.text || $json.response || '';\nlet parsed;\ntry { parsed = typeof raw === 'string' ? JSON.parse(raw) : raw; } catch (e) { throw new Error('LLM não retornou JSON válido'); }\nif (!Array.isArray(parsed.lead_messages)) throw new Error('lead_messages inválido');\nif (typeof parsed.notify_owner !== 'boolean') throw new Error('notify_owner inválido');\nif (typeof parsed.owner_summary !== 'string') throw new Error('owner_summary inválido');\nconst msgs = parsed.lead_messages.filter(m => String(m).trim().length > 0).map(m => String(m));\nif (!msgs.length) throw new Error('Nenhuma mensagem para o lead');\nreturn [{ json: { ...$('Hash input consolidado').item.json, llm: parsed, lead_messages: msgs } }];"
      },
      "id": "parse-json",
      "name": "Valida JSON LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "return $json.lead_messages.map(m => ({ json: { remoteJid: $json.remote_jid, item: m, conversation_id: $json.conversation_id, owner_summary: $json.llm.owner_summary, notify_owner: $json.llm.notify_owner } }));"
      },
      "id": "explode-msgs",
      "name": "Quebra lead_messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "split-loop",
      "name": "Loop mensagens lead",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1320,
        260
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Teste",
        "remoteJid": "={{ $json.remoteJid }}",
        "messageText": "={{ $json.item }}",
        "options_message": {}
      },
      "id": "send-lead",
      "name": "Envia WhatsApp lead",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1520,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "evolutionApi": {
          "id": "tjZO5ucs1d6dKQLa",
          "name": "evolution_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "wait-1s",
      "name": "Delay 1s entre mensagens",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1720,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Valida JSON LLM').item.json.llm.notify_owner }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "if-notify-owner",
      "name": "Notificar Brasileiro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst conversation_id = $('Valida JSON LLM').item.json.conversation_id;\nconst owner_summary = $('Valida JSON LLM').item.json.llm.owner_summary;\nconst owner_hash = crypto.createHash('sha256').update(`${conversation_id}::owner::${owner_summary}`).digest('hex');\nreturn [{ json: { conversation_id, owner_summary, owner_hash, owner_remote_jid: $('Normaliza entrada').item.json.owner_remote_jid } }];"
      },
      "id": "code-owner-hash",
      "name": "Hash owner_summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.response_dedup (conversation_id, dedup_key, response_type, payload_preview, created_at)\nVALUES ({{ $json.conversation_id }}, {{ $json.owner_hash }}, 'owner', LEFT({{ $json.owner_summary }}, 200), NOW())\nON CONFLICT (conversation_id, dedup_key, response_type) DO NOTHING\nRETURNING id;",
        "options": {}
      },
      "id": "pg-dedup-owner",
      "name": "Reserva dedup owner",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1560,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "wr3KDJ4bIUyeHOOV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ !!$json.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "if-owner-nao-duplicado",
      "name": "Owner não duplicado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1780,
        520
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Teste",
        "remoteJid": "={{ $('Hash owner_summary').item.json.owner_remote_jid }}",
        "messageText": "={{ $('Hash owner_summary').item.json.owner_summary }}",
        "options_message": {}
      },
      "id": "send-owner",
      "name": "Envia resumo ao Brasileiro",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2000,
        520
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "evolutionApi": {
          "id": "tjZO5ucs1d6dKQLa",
          "name": "evolution_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.inbound_messages WHERE conversation_id = {{ $('Normaliza entrada').item.json.conversation_id }};",
        "options": {}
      },
      "id": "pg-clean-buffer",
      "name": "Limpa buffer inbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2020,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "wr3KDJ4bIUyeHOOV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        680,
        460
      ],
      "credentials": {
        "openAiApi": {
          "id": "q24jGMsqeApVJ4AM",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Recebe mensagem": {
      "main": [
        [
          {
            "node": "Normaliza entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza entrada": {
      "main": [
        [
          {
            "node": "Filtro WhatsApp válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro WhatsApp válido": {
      "main": [
        [
          {
            "node": "Upsert estado + persiste inbound",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Upsert estado + persiste inbound": {
      "main": [
        [
          {
            "node": "Debounce 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debounce 30s": {
      "main": [
        [
          {
            "node": "Confere execução mais recente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confere execução mais recente": {
      "main": [
        [
          {
            "node": "Sou a última execução?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sou a última execução?": {
      "main": [
        [
          {
            "node": "Consolida mensagens",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Consolida mensagens": {
      "main": [
        [
          {
            "node": "Hash input consolidado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash input consolidado": {
      "main": [
        [
          {
            "node": "Reserva dedup lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reserva dedup lead": {
      "main": [
        [
          {
            "node": "Já respondido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já respondido?": {
      "main": [
        [
          {
            "node": "AGENTE JSON ESTRITO",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AGENTE JSON ESTRITO": {
      "main": [
        [
          {
            "node": "Valida JSON LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida JSON LLM": {
      "main": [
        [
          {
            "node": "Quebra lead_messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar Brasileiro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebra lead_messages": {
      "main": [
        [
          {
            "node": "Loop mensagens lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop mensagens lead": {
      "main": [
        [
          {
            "node": "Limpa buffer inbound",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia WhatsApp lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia WhatsApp lead": {
      "main": [
        [
          {
            "node": "Delay 1s entre mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay 1s entre mensagens": {
      "main": [
        [
          {
            "node": "Loop mensagens lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Brasileiro?": {
      "main": [
        [
          {
            "node": "Hash owner_summary",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Hash owner_summary": {
      "main": [
        [
          {
            "node": "Reserva dedup owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reserva dedup owner": {
      "main": [
        [
          {
            "node": "Owner não duplicado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Owner não duplicado?": {
      "main": [
        [
          {
            "node": "Envia resumo ao Brasileiro",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTE JSON ESTRITO",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "refactor-2026-03-02",
  "id": "TesteRefactorWave",
  "tags": []
}
