n8n-superpack/workflows/[WBB]_02_qualificacao.json
{
  "name": "[WBB] 02 - Qualificação Rápida",
  "nodes": [
    {
      "id": "95d32ccf-b0e9-4f82-9524-83e8e75521fd",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "wbb-qualificacao",
        "responseMode": "responseNode",
        "options": {}
      },
      "notes": "Entrada principal com tenant_id/token/numero para resolver cliente."
    },
    {
      "id": "6f7ac665-7496-4648-9ce0-d7a3c218c59b",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        170,
        70
      ],
      "parameters": {
        "width": 420,
        "height": 160,
        "content": "Workflow 02: Qualificação Rápida. Multi-tenant + logs + mock mode via variáveis."
      }
    },
    {
      "id": "6b532268-ecbe-4d3f-b119-b5dc99e8be64",
      "name": "Load Tenant Config (Mock/Supabase)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        430,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst payload = $json;\nconst defaults = {\n  tenant_id: payload.tenant_id || 'demo_clinica',\n  nome: 'Clínica Demo',\n  timezone: 'America/Sao_Paulo',\n  numero_whatsapp: '+5511999999999',\n  horario_atendimento: { inicio: '08:00', fim: '18:00', dias: [1,2,3,4,5,6] },\n  regras_nicho: { nicho: 'clinica_odontologica', perguntas: ['procedimento','urgencia','convenio','horario_preferido'] },\n  destino_notificacao: { canal: 'telegram', endpoint: $env.NOTIFICATION_WEBHOOK_URL || 'https://example.invalid/notify' },\n  links_agenda: { principal: 'https://agenda.exemplo.com/tenant/demo_clinica' },\n  limites_followup: { max_tentativas: 3, horas_entre_tentativas: 24 }\n};\nreturn [{...payload, tenant: defaults, tenant_id: defaults.tenant_id}];\n"
      },
      "notes": "Mock local. Em produção, trocar por Supabase REST (HTTP Request) em tabela tenants_config."
    },
    {
      "id": "6fece5a8-a1af-4d4c-b6c2-84b45e3be778",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        650,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "timestamp",
              "value": "={{$now}}"
            },
            {
              "name": "tenant_id",
              "value": "={{$json.tenant_id}}"
            },
            {
              "name": "lead_id",
              "value": "={{$json.lead_id || $json.phone || $json.chat_id || $json.id || $execution.id}}"
            },
            {
              "name": "canal_origem",
              "value": "={{$json.canal_origem || \"whatsapp\"}}"
            },
            {
              "name": "evento",
              "value": "=qualificacao"
            },
            {
              "name": "nome",
              "value": "={{$json.nome || $json.contact_name || \"\"}}"
            },
            {
              "name": "telefone",
              "value": "={{$json.telefone || $json.phone || \"\"}}"
            },
            {
              "name": "mensagem",
              "value": "={{$json.mensagem || $json.message || \"\"}}"
            },
            {
              "name": "metadata",
              "value": "={{$json}}"
            }
          ]
        }
      }
    },
    {
      "id": "c62e4206-3e5f-4260-b108-8913b1e67ba4",
      "name": "Business Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nreturn items.map(item => {\n const j=item.json;\n const score=(j.urgencia==='alta'?2:0)+(j.procedimento?1:0)+(j.convenio?1:0);\n j.status_lead = score>=3?'quente':(score===2?'morno':'frio');\n return item;\n});\n"
      }
    },
    {
      "id": "76997b2c-546e-428d-9670-5d84bf167e05",
      "name": "Notify Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        870,
        470
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$json.tenant?.destino_notificacao?.endpoint || $env.NOTIFICATION_WEBHOOK_URL || \"https://example.invalid/notify\"}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"tenant_id\": $json.tenant_id, \"workflow\": $workflow.name, \"lead_id\": $json.lead_id, \"status\": $json.status || \"novo_evento\", \"resumo\": $json.mensagem || $json.evento} }}"
      },
      "notes": "Canal pode ser Telegram/Slack/WhatsApp webhook."
    },
    {
      "id": "a01988f5-0569-4202-a658-ef1373313785",
      "name": "Build Log Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "log_timestamp",
              "value": "={{$now}}"
            },
            {
              "name": "log_evento",
              "value": "={{$json.evento || $workflow.name}}"
            },
            {
              "name": "log_status",
              "value": "ok"
            },
            {
              "name": "log_erro",
              "value": "={{$json.error || \"\"}}"
            }
          ]
        }
      }
    },
    {
      "id": "5b7e0444-2faf-4d3a-b7f6-3cd31b3f9912",
      "name": "Log Sink (Supabase REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL ? $env.SUPABASE_URL + \"/rest/v1/wbb_logs\" : \"https://example.invalid/rest/v1/wbb_logs\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY || \"mock-key\"}}"
            },
            {
              "name": "Authorization",
              "value": "={{\"Bearer \" + ($env.SUPABASE_SERVICE_ROLE_KEY || \"mock-key\")}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"timestamp\": $json.log_timestamp, \"tenant_id\": $json.tenant_id, \"lead_id\": $json.lead_id, \"evento\": $json.log_evento, \"status\": $json.log_status, \"erro\": $json.log_erro, \"metadata\": $json.metadata || $json } }}",
        "options": {
          "timeout": 10000
        }
      },
      "notes": "Sem credencial, use MOCK_MODE=true e ignore resposta."
    },
    {
      "id": "42b184c7-8836-4bf3-bbe0-3fa59aebb364",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1400,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"ok\": true, \"workflow\": $workflow.name, \"tenant_id\": $json.tenant_id || null} }}"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Load Tenant Config (Mock/Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Tenant Config (Mock/Supabase)": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Business Rules",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Rules": {
      "main": [
        [
          {
            "node": "Build Log Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team": {
      "main": [
        [
          {
            "node": "Build Log Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Log Record": {
      "main": [
        [
          {
            "node": "Log Sink (Supabase REST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sink (Supabase REST)": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}